################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Notification.Domain/obj/
/Notification/obj/
/Notification.AppHost/obj/
/Notification.Application/obj/
/Notification.Infrastructure/obj/
/Notification.ServiceDefaults/obj/
/.vs/
/Notification/obj
/Notification.Tests/obj/
/Notification.Infrastructure/obj
/Notification.ServiceDefaults/obj
/Notification.Domain/obj
/Notification.Application/obj
/Notification.AppHost/obj
/Notification/bin/
/Notification.AppHost/bin/
/Notification.Application/bin/
/Notification.Domain/bin/
/Notification.Infrastructure/bin/
/Notification.Infrastructure/bin/
/Notification.ServiceDefaults/bin/
/Notification.Tests/bin/
